<!-- Topmenu -->
<nav id="topmenu">
  <ul>
    {% for item in site.data.navigation.topmenu %}
    <li>
      {% if item.url %}
      <a href="{{ item.url | relative_url }}">
        {% if item.logo %}
        <img src="{{ item.logo_url | relative_url }}" alt="{{ item.title }}">
        {% else %}
        <span>{{ item.title }}</span>
        {% endif %}
      </a>
      {% else %}
      <span>{{ item.title }}</span>
      {% endif %}
      {% if item.submenu %}
      <ul>
        {% for subitem in item.submenu %}
        <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>

<!-- Hoofdmenu -->
<!-- #ffaa0a -->
<nav id="mainmenu">
  <ul>
    {% for item in site.data.navigation.mainmenu %}
    {% assign class='' %}
    {% if page.url==item.url and item.background %}
    {% assign class='active yellow' %}
    {% endif %}
    {% if page.url==item.url %}
    {% assign class= class | append: ' active' %}
    {% endif %}
    {% if item.background %}
    {% assign class='yellow' %}
    {% endif %}
    <!-- <li {% if item.background %} style="background:#ffaa0a" {% endif %}> -->
    <li class={{class}}>
      {% if item.url %}
      <a href="{{ item.url | relative_url }}">
        {% if item.logo %}
        <img src="{{ item.logo_url | relative_url }}" alt="{{ item.title }}">
        {% else %}
        <span>{{ item.title }}</span>
        {% endif %}
      </a>
      {% else %}
      <span>{{ item.title }}</span>
      {% endif %}
      {% if item.submenu %}
      <ul>
        {% for subitem in item.submenu %}
        <li>
          {% if subitem.url %}
          <a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
          {% else %}
          <span>{{ subitem.title }}</span>
          {% endif %}
          <!-- {% if subitem.submenu %}
          <ul>
            {% for subsubitem in subitem.submenu %}
            <li>
              <a href="{{ subsubitem.url | relative_url }}">{{ subsubitem.title }}</a>
              {% if subsubitem.submenu %}
              <ul>
                {% for subsubsubitem in subsubitem.submenu %}
                <li><a href="{{ subsubsubitem.url | relative_url }}">{{ subsubsubitem.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %} -->
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>