
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
  margin-bottom: 1rem;
}

nav a {
  font-weight: 500; /* Base weight closer to bold */
  width: 100px;     /* Fixed width to prevent layout shifts */
  // transition: font-weight 0.3s; /* Smooth transitions */
}

nav a.active {
  font-weight: bold;
  transform: scale(1.05);
}


nav {
  font-size:20pt;
}

nav a.active {
  color: green;
}
