
/* Hoofdmenu-stijlen */
#topmenu {
  display: flex;
  background-color: $menu-bg-color;
  font-family: $font-stack;
}

#topmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
  gap: 10px;
  padding-left: 10px;
  color: white;
  font-weight: bold;
}

#topmenu > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100%;
}

#topmenu > ul > li > a {
  display: flex;
  align-items:center;
  color: #fff;
  text-decoration: none;
  font-weight:bold;
  height: 40px;
}

#topmenu > ul > li > a > span {
  padding: 0 20px;
}

#topmenu > ul > li > a:hover {
  background-color: #111;
  color:white;
  font-weight:bold;
}

/* Submenu-stijlen */
#topmenu ul li ul {
  display: none;
  position: absolute;
  top: 100%; /* Plaatst het submenu direct onder het hoofdmenu */
  left: 0;
  background-color: #444;
  min-width: 200px;
  z-index: 1000;
}

#topmenu ul li:hover > ul {
  display: block;
}

#topmenu ul li ul li {
  position: relative;
}

#topmenu ul li ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

#topmenu ul li ul li a:hover {
  background-color: #555;
}

/* Sub-submenu-stijlen */
#topmenu ul li ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Plaatst het sub-submenu rechts van het submenu */
  background-color: #555;
  min-width: 200px;
}

#topmenu ul li ul li:hover > ul {
  display: block;
}

/* Responsieve stijlen */
@media screen and (max-width: 768px) {
  #topmenu ul {
    float: none;
  }

  #topmenu > ul > li {
    float: none;
  }

  #topmenu ul li ul {
    position: static;
  }

  #topmenu ul li ul li ul {
    position: static;
  }

  #topmenu ul li ul {
    display: none;
  }

  #topmenu ul li.open > ul {
    display: block;
  }

  /* Menu-toggle-knop */
  #menu-toggle {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
  }

  /* Verberg het menu standaard op mobiel */
  #topmenu {
    display: none;
  }

  /* Toon het menu wanneer het open is */
  #topmenu.open {
    display: block;
  }
}
